.background-image {
    background-image: url(../img/newspaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
    height: 500px;
    position: relative;
}

.navbar-brand, a, a:hover {
    color: #f67f72;
    text-decoration: none;
}
.header-title {
    color: white;
    text-decoration: none;  
}

.nav-item .nav-link {
    color: slategray;
}

.nav-item.active .nav-link {
    color: black;
}

.header-title {
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 50px;
}

.container {
    margin-top: 10px;
}

.card {
    width: 100%;
    margin-bottom: 10px;
}

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}